<div class="main-container">
    <!-- <unauthorized-header></unauthorized-header> -->

    <div class="page-container">
        <!-- <div *ngIf="userSvc.uid | async as uid; else login">
            The user is logged in with an ID of {{ uid }}

            <div *ngIf="userSvc.isAdmin | async"> The user has the admin super power. </div>
            <div>
                <button (click)="userSvc.doLogout()">Logout</button>
            </div>
        </div>

        <ng-template #login>
            You need to login.
            <button (click)="userSvc.doLogin()">Login</button>
        </ng-template> -->

        <div class="login-form">
            <div class="card">
                <div class="card-header text-center">
                    <img src="./assets/images/logo.png" alt="Cool Admin">
                </div>
                <div class="card-body">
                    <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()" novalidate>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" name="email" formControlName="email"
                                   [ngClass]="{'input-error': loginForm.controls['email'].touched && loginForm.controls['email'].invalid}" />

                            <div class="error-container" *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].invalid">
                                <p class="input-error-text" *ngIf="loginForm.controls['email'].hasError('required')">Email address is required</p>
                                <p class="input-error-text" *ngIf="loginForm.controls['email'].hasError('email')">Please enter a valid email address</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" name="password" formControlName="password"
                                   [ngClass]="{'input-error': loginForm.controls['password'].touched && loginForm.controls['password'].invalid}" />

                            <div class="error-container" *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].invalid">
                                <p class="input-error-text" *ngIf="loginForm.controls['password'].hasError('required')">Password is required</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <div class="checkbox">
                                    <label for="checkbox1" class="form-check-label ">
                                        <input type="checkbox" id="checkbox1" name="checkbox1" value="option1" class="form-check-input">Remember Password?
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-column align-items-center justify-content-between">
                            <input type="submit" class="btn btn-primary btn-block" value="Submit" [disabled]="loginForm.controls['email'].invalid || loginForm.controls['password'].invalid">
                            <small class="text-center my-3">Not a member?
                                <a routerLink="/register">Create an account</a>
                            </small>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- <unauthorized-footer></unauthorized-footer> -->
</div>