header {
  padding: 8px 40px;
  background: #393939;
  width: 100%;
  display: flex;
  justify-content: space-between;

  ul {
    li {
      display: flex;
      align-items: center;

      &.no-carret {
        a {
          &::after {
            display: none;
          }
        }
      }

      a {
        color: #CCCCCC;
        height: 100%;
        display: flex;
        align-items: center;

        .fas {
          font-size: 25px;
        }

        .account-setting {
          display: inline;

          img {
            border-radius: 100%;
            height: 45px;
            width: 45px;
            margin-right: 10px;
          }
        }
      }

      
    }
  }

  .logo-cont {
    display: flex;
    justify-content: flex-start;
    width: 20%;

    img {
      object-fit: contain;
      width: auto;
      height: auto;
    }
  }

  .menu-cont {
    display: flex;
    justify-content: center;
    width: 60%;

    ul {
      li {
        a {
          .fas {
            font-size: 16px;
            margin-right: 10px;
          }
        }
      }
    }
  }

  .tool-cont {
    display: flex;
    justify-content: flex-end;
    width: 20%;
  }
}

@media (min-width: 576px) {}

@media (min-width: 768px) {
  header {
    .logo-cont { width: 25%; }
    .menu-cont { width: 50%; }
    .tool-cont { width: 25%; }
  }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}