<div class="main-container">
    <!-- <unauthorized-header></unauthorized-header> -->

    <div class="page-container">
        <div class="registration-form">
            <div class="card">
                <div class="card-header text-center">
                    <img src="./assets/images/logo.png" alt="Cool Admin">
                </div>
                <div class="card-body">
                    <form [formGroup]="registrationForm" (ngSubmit)="registrationSubmit()" novalidate>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" name="email" formControlName="email" [ngClass]="{'input-error': registrationForm.controls['email'].touched && registrationForm.controls['email'].invalid}" />

                            <div class="error-container" *ngIf="registrationForm.controls['email'].touched && registrationForm.controls['email'].invalid">
                                <p class="input-error-text" *ngIf="registrationForm.controls['email'].hasError('required')">Email address is required</p>
                            </div>
                            
                        <div class="form-group">
                                <p class="input-error-text" *ngIf="registrationForm.controls['email'].hasError('email')">Please enter a valid email address</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" name="password" formControlName="password" [ngClass]="{'input-error': registrationForm.controls['password'].touched && registrationForm.controls['password'].invalid}" />

                            <div class="error-container" *ngIf="registrationForm.controls['password'].touched && registrationForm.controls['password'].invalid">
                                <p class="input-error-text" *ngIf="registrationForm.controls['password'].hasError('required')">Password is required</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <input type="submit" class="btn btn-primary" value="Register" [disabled]="registrationForm.controls['email'].invalid || registrationForm.controls['password'].invalid">
                            <a routerLink="/login" class="btn btn-link">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- <unauthorized-footer></unauthorized-footer> -->
</div>